@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin focus-outline($offset: 1px) {
  &:focus-visible {
    outline: 2px solid var(--tempora-primary);
    outline-offset: $offset;
  }
}
